{% include 'Books/head.html' %}

<form>
  <form action="/Books/addbooks/" method="POST">
    <div class="mb-3">
      <label for="" class="form-label">TITLE</label>
      <input
        type="text"
        class="form-control"
        name=""
        id=""
        aria-describedby="helpId"
        placeholder="title"
      />
    </div>
    <div class="mb-3">
      <label for="" class="form-label">LOCATION</label>
      <input
        type="text"
        class="form-control"
        name=""
        id=""
        aria-describedby="helpId"
        placeholder="location"
      />
    </div>
    <div class="mb-3">
      <label for="" class="form-label">ISBN</label>
      <input
        type="text"
        class="form-control"
        name=""
        id=""
        aria-describedby="helpId"
        placeholder="isbn"
      />
    </div>

    <button type="submit">Save</button>
  </form>

  {% include 'Books/footer.html' %}
</form>
