{% include 'Books/head.html' %}

<form>

<form action="/books/addbooks" method=["POST"]>

<div class="mb-3">
  <label for="" class="form-label">TITLE</label>
  <input type="text" class="form-control" name=""id=""aria-describedby="helpId" placeholder="title"/>
  <small id="helpId" class="form-text text-muted">Help text</small>
</div>


<div class="mb-3">
 <label for="" class="form-label">LOCATION</label>
 <input type="text" class="form-control" name=""id=""aria-describedby="helpId" placeholder="location"/>
 <small id="helpId" class="form-text text-muted">Help text</small>
</div>
<div class="mb-3">
 <label for="" class="form-label">ISBN</label>
 <input type="text" class="form-control" name=""id=""aria-describedby="helpId" placeholder="isbn"/>
 <small id="helpId" class="form-text text-muted">Help text</small>
</div>

<button type="submit">Save</button>

</form>

{% include 'Books/footer.html' %}








































