<!doctype html>
<html lang="en">
    <head>
        <title>Books List</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        
            <meta name="viewport" content="width=device-width, initial-scale=1"/>
            
        

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-info">
            <div class="nav navbar-nav">
                <a class="nav-item nav-link" href="/">Start</a>
                <a class="nav-item nav-link" href="/books">Books</a>
                <a class="nav-item nav-link" href="/books/addbooks">Add Book</a>
                <a class="nav-item nav-link" href="/books">Add Author</a>
                <a class="nav-item nav-link" href="/books">Close</a>

            </div>
        </nav>
        <div class="container-fluid">
            <br/>